.main{
    text-align: center;
    display: flex;
    /*justify-content: space-between;*/
    /*text-align: center;*/
    flex-direction: column;
}

.col{
    background-color: green;
    color: red;
}
