.nav{
    display: block;
    background-color: #1d6a96;
}
.navbar{
    display:flex;

    /*justify-content: space-between;*/
    justify-content: start;
    /*align-content:*/
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.navItem{
    display: inline;
    padding: 8px;
    /*display: flex;*/
    /*float: left;*/
    /*justify-content:center*/
}
.navLink{
    /*color: #85b8cb;*/
    color: #d1dddb;
    text-decoration: none;
}

.navLink:hover{
    /*background-color: #04AA6D;*/
    /*color: #85b8cb;*/
    color: #283b42;
}