/*.container{*/
/*    margin-left: 25px;*/
/*    margin-right: 25px;*/
/*    !*padding-left: 40px;*!*/
/*    color: white;*/
/*    background: black;*/
/*}*/
/*!* Style the navigation bar *!*/
/*!*<!-- .navbar, .footer{ -->*!*/
/*.footer{*/
/*    width: 100%;*/
/*    background-color: #555;*/
/*    !*background-color:rgb(48, 16, 20);*!*/
/*    overflow: auto;*/
/*}*/

/*!* Navbar links *!*/
/*!*.navbar a, .footer a  {*!*/
/*.footer a  {*/
/*    float: left;*/
/*    text-align: center;*/
/*    padding: 12px;*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 17px;*/
/*}*/
/*.footer a:hover {*/
/*    animation: bounce; !* referring directly to the animation's @keyframe declaration *!*/
/*    animation-duration: 2s; !* don't forget to set a duration! *!*/
/*    animation-timing-function: ease-out;*/
/*    background-color: rgb(171, 209, 181);*/
/*}*/

.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialMediaLinks {
    /*display: flex;*/
    /*justify-content: space-evenly;*/


}

.pCopyright {
    /*position: absolute;*/
    /*top: auto;*/
    display:inline;
    color: #d1dddb;

}
.textLink {
    color: #d1dddb;
    text-decoration: none;
}

.textLink:hover{
    /*color: black;*/
    color: #283b42;

}

.square {

    /*color: #A7BBEC;*/
    color: #d1dddb;
    /*background-color: rgb(247, 204, 59);*/

}

.icon {
    /*fa-2x;*/
    /*padding-right: 16px!important;*/
    font-family: "Font Awesome 6 Brands";
    font-weight: 200;
    /*background-color: cornflowerblue;*/
    color: #1d6a96;
    /*color: #020202;*/

}

.icon:hover {
    color: #283b42;
    animation: myAnim 2s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 50%;
    }

    10% {
        transform: rotate(8deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-10deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(10deg);
    }

    80% {
        transform: rotate(-8deg);
    }

    90% {
        transform: rotate(8deg);
    }
}